NODE_ENV=something

NEXT_PUBLIC_SITE_URL=something
NEXT_PUBLIC_API_URL=something
NEXT_PUBLIC_NOTICE_API_URL=something

NEXT_PUBLIC_LOGIN_URL=something
NEXT_PUBLIC_VERIFY_USER_URL=something
NEXT_PUBLIC_LOGOUT_URL=something

JWT_SECRET=something
